<!DOCTYPE html>
<html>
<head>
    <title>Human Anatomy Learning App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Drag and Drop the Organs to Their Correct Position and play
        
    </h2>
    <div class="container">
        <div class="organ-pool">
            <div draggable="true" class="organ" id="heart">Heart</div>
            <div draggable="true" class="organ" id="brain">Brain</div>
            <div draggable="true" class="organ" id="lungs">Lungs</div>
            <div draggable="true" class="organ" id="stomach">Stomach</div>
        </div>
        <div class="body-diagram">
            <div class="dropzone" id="drop-brain">Brain Area</div>
            <div class="dropzone" id="drop-heart">Heart Area</div>
            <div class="dropzone" id="drop-lungs">Lungs Area</div>
            <div class="dropzone" id="drop-stomach">Stomach Area</div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
